body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: grey;
}

.container-wrapper {
    width: 500px;
    height: 610px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(30, 30, 30);
    margin: 30px auto;
    position: relative;
    border-left: 14px solid black;
    border-bottom: 10px solid black;
    border-radius: 8px;
}

h1 {
    font-size: 70px;
    margin-top: 8px;
    margin-bottom: 2px;
    font-family: "Anton", sans-serif;
    font-weight: bold;
    letter-spacing: 5px;
    color: #e9c757;
}

.displayPanel {
    width: 450px;
    height: 99px;
    margin-bottom: 4px;
}

.topDisplay {
    width: 440px;
    height: 43px;
    background-color: rgb(241, 248, 235);
    font-size: 30px;
    text-align: right;
    border-radius: 6px 6px 0 0;
    padding: 8px 8px 0 0;
}

.bottomDisplay {
    width: 440px;
    height: 54px;
    background-color: rgb(241, 248, 235);
    font-size: 38px;
    text-align: right;
    border-radius: 0 0 6px 6px;
    padding-right: 8px;
}

.btnsContainer {
    margin-top: 10px;
    display: flex;
}

button {
    margin: 3px;
    margin-bottom: 6px;
    width: 107px;
    height: 70px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(12, 12, 11);
    color: white;
    font-size: 34px;
    border: 1px solid white;
    transition: transform 0.1s;
}

button:hover {
    transform: scale(1.04);
}

.AC {
    font-size: 30px;
    font-weight: 550;
}

.operator {
    background-color: #63d3b7;
}

.add,
.divide {
    font-size: 46px;
    background-color: #63d3b7;
}

.subtract {
    font-size: 56px;
    background-color: #63d3b7;
}

.multiply {
    font-size: 35px;
    background-color: #63d3b7;
}

.equalsButton {
    width: 446px;
    height: 64px;
    display: flex;
    justify-content: center;
    background-color: rgb(241, 137, 125);
    font-size: 60px;
    transition: transform 0.1s;
}

.equalsButton:hover {
    transform: scale(1.02);
}

#AC {
    background-color: #ddc36f;
    font-size: 30px;
    font-weight: bold;
}
