body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: grey;
}

.container-wrapper {
    width: 500px;
    height: 610px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(30, 30, 30);
    margin: 30px auto;
    position: relative;
    border-left: 14px solid black;
    border-bottom: 10px solid black;
    border-radius: 8px;
}

h1 {
    font-size: 65px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "Anton", sans-serif;
    font-weight: bold;
    letter-spacing: 5px;
    color: #e9c757;
}

.display {
    width: 462px;
    height: 98px;
    background-color: rgb(241, 248, 225);
    border-radius: 12px;
    border: 4px solid rgb(20, 20, 20);
}

.btnsContainer {
    width: 470px;
    height: 305px;
    margin-top: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnsCol1,
.btnsCol2,
.btnsCol3,
.btnsCol4 {
    display: flex;
    flex-direction: column;
    width: 118px;
    height: 306px;
}

button {
    margin: 4px;
    width: 112px;
    height: 130px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(12, 12, 11);
    color: white;
    font-size: 34px;
    border: 1px solid white;
}

.AC {
    font-size: 30px;
    font-weight: 550;
}

.add,
.divide {
    font-size: 46px;
    background-color: #63d3b7;
}

.subtract {
    font-size: 56px;
    background-color: #63d3b7;
}

.multiply {
    font-size: 35px;
    background-color: #63d3b7;
}

.equalButton {
    margin-top: 5px;
    width: 470px;
    height: 68px;
    display: flex;
    justify-content: center;
    background-color: rgb(241, 137, 125);
    font-size: 60px;
}

.AC {
    background-color: #ddc36f;
}
